{% extends "base.html" %}

{% block body %}

<div class="col-lg-12">
	<div class="panel panel-default">
		<div class="panel-heading">

			<strong>All Profiles</strong>

			{% if profiles %}
				<ul>
					{% for profile in profiles %}
						<li>
							<a href="{% url 'show' profile.id %}">{{profile.name|upper}} / {{profile.email}}</a>
						</li>
					{% endfor %}
				</ul>
			{% else %}
				<p>No profile found</p>
			{% endif %}

		</div>
	</div>
	
	<div class="panel panel-default">
		
		{% with total_de_convites=logged_profile.received_invitations.count %}
		
			{% if total_de_convites %}
				<div class="panel-heading">
					<strong>Você tem {{total_de_convites}} convite{{ total_de_convites |pluralize}} aguardando aprovação</strong>
					<ul class="list-group">
						{% for invite in logged_profile.received_invitations.all %}
							<li class="list-group-item">
								{{ invite.applicant.name }}
								<a href="{% url 'accept_invitation' invite.id %}" class="pull-right">Aceitar</a>
							</li>
						{% endfor %}
					</ul>
				</div>
			{% else %}
				<div class="panel-body">
					<p>Nenhum convite recebido :(</p>
				</div>
			{% endif %}
		
		{% endwith %}
	</div>
	
	{% with total_de_contatos=logged_profile.contacts.count %}
	
		{% if total_de_contatos %}
	
			<div class="panel panel-default">
				<div class="panel-heading">
					<strong>Você tem {{total_de_contatos}} contato{{ total_de_contatos |pluralize}}</strong>
					<ul class="list-group">
						{% for contact in logged_profile.contacts.all %}
							<li class="list-group-item"><a href="{% url 'show' contact.id %}">{{ contact.name }}</a></li>
						{% endfor %}
					</ul>
				</div>
			</div>
		{% else %}
		
			<div class="panel-body">
				<p>Nenhum contato :(</p>
			</div>
			
		{% endif %}
		
	{% endwith %}
	
</div>

{% endblock%}