{% extends "base.html" %}

{% block body %}


<div class="row">
	
	<div class="col-lg-12">
		<h2 style="margin-top: 0">{{ profile.name }}</h2>

		<address>
			<strong>{{ profile.company_name }}</strong><br />
			<abbr title="Telefone">Tel:</abbr> {{ profile.telephone }} <br />
			<a href="mailto:{{ profile.email }}">{{profile.email}}</a>
		</address>

		{% if not is_contact %}
			<a href="{% url 'invite' profile.id %}">Invite!</a>
		{% else %}
			<div class="well well-sm">Vocês estão conectados</div>
		{% endif %}
	</div>
</div>

{% endblock%}